<section class="admin-zone" id="admin-zone" data-course="{{ course.id }}" data-problem="{{ problem.id }}">
  <h3>
    <i class="fas fa-exclamation-circle"></i>
    Danger Zone
  </h3>
  <nav>
    <div class="nav nav-tabs md-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="generate-input-tab" data-toggle="tab" href="#generate-input-nav" role="tab" aria-controls="generate-input-nav" aria-selected="true">
        <i class="fas fa-reply" aria-hidden="true"></i>
        Generate input
      </a>
      <a class="nav-item nav-link" id="generate-output-tab" data-toggle="tab" href="#generate-output-nav" role="tab" aria-controls="generate-output-nav" aria-selected="false">
        <i class="fas fa-share" aria-hidden="true"></i>
        Generate output
      </a>
      <a class="nav-item nav-link" id="reference-tab" data-toggle="tab" href="#reference-nav" role="tab" aria-controls="reference-nav" aria-selected="false">
        <i class="fas fa-code" aria-hidden="true"></i>
        Reference solution
      </a>
    </div>
  </nav>

  <div class="tab-content pt-5 px-3" id="nav-tabContent">
    {# ---------------------------------------------------------------------- #}

    <div class="tab-pane fade active show" id="generate-input-nav" role="tabpanel" aria-labelledby="generate-input-tab">
      <form id="generate-input-form" class="form" method="post">
        <h2>Generate input files</h2>
        <p>
          will generate input files for the cases, which are have fields
          <code>random</code>,
          <code>size</code>
          (or both). This option require a
          <strong>reference script</strong>
          to be present at the server, and to be specified in a appropriate
          <strong>course config file</strong>
        </p>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" name="use-docker" class="custom-control-input input-use-docker" id="input-use-docker" checked="checked">
          <label class="custom-control-label" for="input-use-docker">Use docker container</label>
          <p class="use-docker-info text-muted text-danger">
            Running the code outside of docker environment is a
            <strong>security risk</strong>
            and can easily damage system. If checked, solution
            <strong>will be processed faster</strong>, using native compilers/interpreters. Double check your solution before continuing.
          </p>
        </div>
        <button class="btn btn-info my-4" value="generate-input" type="submit">Generate input files</button>
      </form>
    </div>

    {# ---------------------------------------------------------------------- #}

    <div class="tab-pane fade" id="generate-output-nav" role="tabpanel" aria-labelledby="generate-output-tab">
      <form id="generate-output-form" class="form" method="post">
        <h2>Generate output files</h2>
        <p>
          will generate output files for the cases using reference solution. This option require a
          <strong>reference script</strong>
          to be present at the server, and to be specified in a appropriate
          <strong>course config file</strong>
        </p>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" name="use-docker" class="custom-control-input input-use-docker" id="output-use-docker" checked="checked">
          <label class="custom-control-label" for="output-use-docker">Use docker container</label>
          <p class="use-docker-info text-muted text-danger">
            Running the code outside of docker environment is a
            <strong>security risk</strong>
            and can easily damage system. If checked, solution
            <strong>will be processed faster</strong>, using native compilers/interpreters. Double check your solution before continuing.
          </p>
        </div>
        <button class="btn btn-info my-4" value="generate-output" type="submit">Generate output files</button>
      </form>
    </div>

    {# ---------------------------------------------------------------------- #}

    <div class="tab-pane fade result" id="reference-nav" role="tabpanel" aria-labelledby="reference-tab">
    </div>
  </div>

  <div class="solution-result" style="display: none;">
    <hr class="hr-danger" />
    <h2>Action result</h2>
    <div class="result">
      <em>Output will be here.</em>
    </div>
  </div>
</section>
<pre style="font-size: 0.75rem; display: none;" id="log" /></pre>
