<!DOCTYPE html>
<html lang="en">

  <head>
    {% include "core/head.njk" %}
  </head>

  <body class="{{ 'admin' if user.is_admin() else 'student' }}">
    <header>
      {% include "core/header.njk" %}
    </header>

    <main>
      <div class="container z-depth-1 py-1">
        <article class="pb-3">
          {% include "core/article-head.njk" %}
          
          {% include "admin-settings.njk" %}
        </article>
      </div>
    </main>

    <footer class="page-footer font-small fixed-bottom">
      {% include "core/footer.njk" %}
    </footer>
    
    <script type="text/javascript" src="/static/js/sockets.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/manage-problem.js" charset="utf-8"></script>
  </body>
</html>
