<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    {% include "core/head.njk" %}
    <script type="text/javascript" src="/static/js/solution.js" charset="utf-8"></script>
  </style>
</head>
<body class="{{ 'admin' if user.is_admin() else 'student' }}">
  <div class="container-fluid">
    <div class="row flex-xl-nowrap">
      <div class="bd-content w-100">
        <div class="row">
          <div class="col-xs-12 col-sm-11 col-lg-10 m-auto">
            <div class="card grey lighten-3">

              {% include "header.njk" %}

              <div class="card-body row">
                {% if problems %}

                  <div class="accordion col-12 col-md-6" id="accordionSubmit">
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#submit-solution" aria-expanded="true" aria-controls="submit-solution">
                            Submit solution
                          </button>
                        </h5>
                      </div>

                      <div id="submit-solution" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionSubmit">
                        <div class="card-body">
                          <form class="form" method="post">

                            <!-- Problem -->
                            <label>Problem</label>
                            <div class="custom-control mb-4">
                              <select class="browser-default custom-select prob-select" name="prob-id" data-course="{{ course.id }}">
                                {% for problem in problems %}
                                  <option data-problem-name="{{ problem.name }}" value="{{ problem.id }}">{{ problem.name }}
                                    {% if not problem.is_active() %}
                                      [odevzdání ukončeno]
                                    {% endif %}
                                  </option>
                                {% endfor %}
                              </select>
                              {% if user.is_admin() %}
                                <a href="#" class="manage-problem-link" data-href="{{
                              url_for('admin_problem', course_name=course.name, course_year=course.year, problem_id='')
                            }}">» manage problem
                                  <span class="problem-name-placeholder"></span></a>
                              {% endif %}
                            </div>

                            <!-- Prog language -->
                            <label>Language</label>
                            <div class="custom-control mb-4">
                              <select class="browser-default custom-select mb-4 lang-select" name="lang-id">
                                {% for language in languages %}
                                  <option value="{{ language.id }}" data-style="{{ language.style }}">{{ language.pretty_name }}</option>
                                {% endfor %}
                              </select>
                            </div>

                            <!-- Source code -->
                            <div class="form-group mb-4">
                              <label for="srcTA">Source code</label>
                              <textarea class="d-none form-control smaller text-monospace src-textarea" name="src" id="srcTA" rows="3" placeholder="Source code" required="required">import sys for name in sys.stdin.read().splitlines(): print("Hello, {name}!".format(name=name))</textarea>
                              <div id="editor" class="rounded border border-light"></div>
                            </div>

                            <div class="custom-control custom-checkbox" {% if not user.is_admin() %} style="display: none !important;" {% endif %}>
                              <input type="checkbox" name="use-docker" class="custom-control-input input-use-docker" id="output-use-docker" checked="checked">
                              <label class="custom-control-label" for="output-use-docker">Use docker container</label>
                              <p class="use-docker-info text-muted text-danger">
                                Running the code outside of docker environment is a
                                <strong>security risk</strong>
                                and can easily damage system. If checked, solution
                                <strong>will be processed faster</strong>, using native compilers/interpreters. Double check your solution before continuing.
                              </p>
                            </div>

                            <hr/>

                            <!-- Send button -->
                            <button class="btn btn-info btn-block submit-button" value="solve:docker" type="submit">Submit solution</button>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="solution-result-heading">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed disabled" type="button" data-toggle="collapse" data-target="#solution-result" aria-expanded="false" aria-controls="solution-result">
                            Solution result
                          </button>
                        </h5>
                      </div>
                      <div id="solution-result" class="collapse" aria-labelledby="solution-result-heading" data-parent="#accordionSubmit">
                        <div class="solution-result card-body"></div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-6">
                    <pre style="font-size: 0.75rem; display: block;" id="log" /></pre>
                    {% for problem in problems %}
                      <div class="d-none prob-desc" id="desc-{{ problem.id }}" data-time-left="{{ problem.time_left }}">
                        <div class="count-down d-none" data-time-left="{{ problem.time_left }}"></div>
                        <h3>Zadání pro úlohu
                          <code>{{ problem.name }}</code>
                        </h3>
                        {{ problem.description }}
                      </div>
                    {% endfor %}
                  </div>
                {% else %}
                  <div class="p-3">
                    <h3>There are not problems specified in course configuration file </h3>
                    <p class="text-muted">The file is here: <code>{{ course.yaml_file }}</code></p>
                  </div>
                {% endif %}
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
