<!DOCTYPE html>
<html lang="en">

  <head>
    {% include "core/head.njk" %}
  </head>

  <body class="{{ 'admin' if user.is_admin() else 'student' }}">
    <header>
      {% include "core/header.njk" %}
    </header>

    <main>
      <div class="container z-depth-1 py-1">
        <article>
          {% include "core/article-head.njk" %}

          <div id='main-content' class="row pb-5">
            {% if problems %}
              <div id="submit-solution" class="col-12 col-md-6">
                <section class="article-section">
                  <h2 class="px-4 py-2">Submit solution</h2>
                  <form class="form px-4 pb-4" method="post" action="{{ url_for('process_solution', course_name=course.name, course_year=course.year) }}">

                    <!-- Problem -->
                    <label>Problem</label>
                    <div class="custom-control mb-4">

                      <div class="input-group mb-3">
                        <select class="browser-default custom-select prob-select" name="prob-id" data-course="{{ course.id }}">
                          {% for problem in problems %}
                            <option data-problem-name="{{ problem.name }}" value="{{ problem.id }}">{{ problem.name }}
                              {% if not problem.is_active() %}
                                [submission closed]
                              {% endif %}
                            </option>
                          {% endfor %}
                        </select>
                        {% if user.is_admin() %}
                          <div class="input-group-append">
                            <a href="#" class="input-group-text manage-problem-link btn-danger" data-href="{{ url_for('admin_problem', course_name=course.name, course_year=course.year, problem_id='')}}">
                              <i class="fas fa-user-shield" data-toggle="tooltip" title="Visible to admin only"></i>&nbsp;
                              <span>Manage</span>&nbsp;<span class="font-weight-bold prolem-id-placeholder"></span>
                            </a>
                          </div>
                        {% endif %}
                      </div>
                    </div>

                    <!-- Prog language -->
                    <label>Language</label>
                    <div class="custom-control mb-4">
                      <select class="browser-default custom-select mb-4 lang-select" name="lang-id">
                        {% for language in languages %}
                          <option value="{{ language.id }}" data-style="{{ language.style }}" data-ext="{{ language.extension }}">
                            {{ language.pretty_name }}
                          </option>
                        {% endfor %}
                      </select>
                    </div>

                    <!-- Source code -->
                    <div class="src-group form-group mb-4">
                      <label for="srcTA">
                        <span>Source code</span>
                        <span data-toggle="tooltip" title="Source code is automatically saved locally on your PC" class="src-status"></span>
                        <div class="drag-available small text-muted">
                          Attach files by dragging & dropping, selecting or pasting them.
                          <i class="fas fa-download"></i>
                        </div>
                      </label>
                      <textarea class="d-none form-control smaller text-monospace src-textarea" name="src" id="srcTA" rows="3" placeholder="Source code" required="required">import sys for name in sys.stdin.read().splitlines(): print("Hello, {name}!".format(name=name))</textarea>
                      <div id="editor" class="rounded border border-light"></div>

                    </div>

                    <div class="custom-control custom-checkbox" {% if not user.is_admin() %} style="display: none !important;" {% endif %}>
                      <input type="checkbox" name="use-docker" class="custom-control-input input-use-docker" id="output-use-docker" checked="checked">
                      <label class="custom-control-label" for="output-use-docker">
                        Use docker container
                        <i class="fas fa-user-shield" data-toggle="tooltip" title="Visible to admin only"></i>
                      </label>
                      <p class="use-docker-info text-muted text-danger">
                        Running the code outside of docker environment is a
                        <strong>security risk</strong>
                        and can easily damage system. If checked, solution
                        <strong>will be processed faster</strong>, using native compilers/interpreters. Double check your solution before continuing.
                      </p>
                    </div>

                    <hr/>

                    <!-- Send button -->
                    <button class="btn btn-info btn-block submit-button" value="solve:docker" type="submit">
                      Submit solution
                    </button>
                    <hr/>
                    <a href="#" data-href="{{ url_for('view_result', course_name=course.name, course_year=course.year, problem_id='') }}" class="view-result-link btn btn-elegant btn-block" type="btn">
                      View results
                    </a>
                  </form>
                </section>
              </div>

              <div class="col-12 col-md-6">
                <section class="article-section">
                  <pre style="font-size: 0.75rem; display: none;" id="log" /></pre>
                  {% for problem in problems %}
                    <div class="prob-desc d-none" id="desc-{{ problem.id }}" data-time-left="{{ problem.time_left }}">
                      <h2 class="px-4 py-2">{{ problem.name }}</h2>
                      <div class="count-down" data-time-left="{{ problem.time_left }}"></div>
                      <div class="desc p-4">
                        {{ problem.description }}
                      </div>
                    </div>
                  {% endfor %}
                </section>
              </div>
            {% else %}
              <div class="p-3">
                <h3>There are not problems specified in course configuration file
                </h3>
                <p class="text-muted">The file is here:
                  <code>{{ course.yaml_file }}</code>
                </p>
              </div>
            {% endif %}
          </div>

        </article>
      </div>
    </main>

    <footer class="page-footer font-small fixed-bottom">
      {% include "core/footer.njk" %}
    </footer>

    <script type="text/javascript" src="/static/js/solution.js" charset="utf-8"></script>
  </body>

</html>
