<!DOCTYPE html>
<html lang="en">

  <head>
    {% include "core/head.njk" %}
  </head>

  <body class="{{ 'admin' if user.is_admin() else 'student' }}">
    <header>
      {% include "core/header.njk" %}
    </header>

    <main>
      <div class="container z-depth-1 py-4">
        <article>
          {% include "core/article-head.njk" %}

          <div class="courses d-flex flex-column align-items-stretch">
            {% if courses %}
              {% for course in courses %}
                <section class="course" {% if course.disabled %} style="opacity: 0.35;" {% endif %}>
                  <a href="{{ url_for('view_course', course_name=course.name, course_year=course.year) }}" class="d-flex justify-content-between align-items-center waves-effect">
                    <img class="course-img" src="{{ url_for('placeholder', name=course.name, year=course.year, scale=50) }}">
                    <div class="flex-grow-1">
                      <h2>{{ course.name }}
                        -
                        {{ course.desc }}</h2>
                      <p class="text-muted">
                        click to access course
                        {{ course.name }}
                        ({{ course.year }})
                      </p>
                    </div>
                  </a>
                </section>
              {% endfor %}
            {% else %}
              <section class="course">
                <a href="#" class="d-flex justify-content-between align-items-center">
                  <img class="course-img" src="{{ url_for('placeholder', name='E-mail', year='your teacher', scale=50) }}">
                  <div class="flex-grow-1">
                    <h2>aaa-{{ item }}</h2>
                    <p class="text-muted">
                      vsvsdfjh khsdfgsdkfh
                    </p>
                  </div>
                </a>
              </section>
            {% endif %}
          </div>
        </article>
      </div>
    </main>

    <footer class="page-footer font-small fixed-bottom">
      {% include "core/footer.njk" %}
    </footer>
  </body>

</html>
