docker
flask
Flask-CORS
flask-socketio
Flask-AutoIndex
tinydb
pyyaml
pymongo
loguru
pycrypto
loguru
eventlet
gevent
gevent-websocket
singleton_decorator
markdown
pillow
dataclasses-json
flask-sse
gunicorn