.loader {
  display: inline-block;
  border: 1px solid #aeabab;
  background: #fafafa;
  border-radius: 0.25rem;
  padding: 0.1rem 0.25rem;
  margin: 0.25rem;
}
.sk-three-bounce {
  width: 50px;
  text-align: center;
}
.sk-three-bounce .sk-child {
  width: 8px;
  height: 8px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-three-bounce 1.0s ease-in-out 0s infinite both;
  animation: sk-three-bounce 1.0s ease-in-out 0s infinite both;
}
.sk-three-bounce .sk-bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.sk-three-bounce .sk-bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-three-bounce {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes sk-three-bounce {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.spinner {
  width: 50px;
  height: 26px;
  text-align: center;
  line-height: 32px;
  font-size: 10px;
}
.spinner > div {
  background-color: #333;
  height: 15px;
  width: 4px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  100%,
  40% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1.0);
  }
}

@keyframes sk-stretchdelay {
  0%,
  100%,
  40% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
.queue-list li {
  list-style: none;
}
.queue-list li .sk-three-bounce {
  display: none;
}
.queue-list li.running .sk-three-bounce {
  display: inline-block;
}
.status-icon {
  font-size: 2em;
}
.status-section code {
  color: inherit;
}
.std-list li {
  font-size: 70%;
}
#editor {
  width: 100%;
  height: 300px;
}
.count-down {
  display: none;
}
.count-down.prob-admin-over,
.count-down.prob-over,
.count-down.prob-almost-over {
  display: block;
  padding: 1rem;
  text-align: center;
}
.count-down.prob-admin-over {
  color: #6faa5b;
  background: #e8fce4;
}
.count-down.prob-almost-over {
  color: #a87011;
  background: #ffe4a4;
}
.count-down.prob-over {
  color: #a81111;
  background: #ffa4a4;
}
