// STATUSES
// system results
$statuses: (
  'in-queue': #909090,
  'running': #30c3f9,
  'ignore': #909090,
  'ok': #cc5ef2,
  'answer-correct': #4eed3a,
  'answer-correct-timeout': #e0c222,
  'answer-wrong': #fc4949,
  'answer-wrong-timeout': #fc4949,
  'skipped': #df8220,
  'soft-timeout': #737373,
  'global-timeout': #fc4949,
  'file-not-found': #fc4949,
  'error-while-running': #fc4949,
  'compilation-failed': #fc4949,
);

.final-evaluation {
  @each $name, $color in $statuses {
    .execution-test.#{$name} {
      border-bottom: 5px solid lighten($color, 15);

      .cell-score .score {
        background: white;
        // border: 2px solid darken($color, 30);
      }
    }
  }
}

.problem-results,
.search-results {
  @each $name, $color in $statuses {
    tr.#{$name} {
      background: lighten($color, 33);
      color: darken($color, 35);

      &:hover {
        background: lighten($color, 25);
        color: darken($color, 35);
        
        .lighten {
          background: lighten($color, 35);
        }
      }

      .lighten {
        background: lighten($color, 40);
      }
    }

    a.#{$name} {
      background: lighten($color, 30);
      color: darken($color, 30);
      border: 1px solid transparent;

      .ribbon span {
        color: lighten($color, 23);
        background: darken($color, 23);
      }

      .details {
        background: lighten($color, 23);
        color: darken($color, 23);
      }

      &:hover {
        background: lighten($color, 23);
        color: darken($color, 23);
        border: 1px solid darken($color, 30);
      }

      &.active {
        color: lighten($color, 30);
        background: darken($color, 30);
        padding: 0.75rem;
      }
    }
  }
}
@each $name, $color in $statuses {
  .#{$name} {
    .test-case-holder {
      background: lighten($color, 30);

      &:hover {
        background: lighten($color, 27);
      }

      & > * {
        color: darken($color, 30) !important;
      }

      .cell-icon {
        .test-icon {
          text-align: center;
          min-width: 60px;
          min-height: 42px;

          .status-badge {
            border-right: 1px solid rgba(darken($color, 30), .5);
          }
        }
      }
    }

    .cell-attachments .btn-link i {
      color: darken($color, 30) !important;
    }

    .cell-diff .btn-link i {
      color: darken($color, 30) !important;
    }

    .result-details {
      background: lighten($color, 35);
    }

    .result-details.stdout-stderr .std-list {
      background: lighten($color, 35);
      color: darken($color, 35);
    }

    .console.result-text .title {
      background: lighten($color, 33);
      color: darken($color, 33);
    }

    .btn-link {
      padding: 0.35rem;
      margin: 0.5rem;
      background: none;
      box-shadow: none !important;
      min-width: 30px;
      min-height: 30px;

      &:hover {
        text-decoration: none;
        background: lighten($color, 33) !important;
      }

      &::after {
        display: none;
      }
    }
  }
}

.final-evaluation {
  .test-case-holder {
    min-height: 70px;

    .cell-href {
      font-size: 1.0rem;
    }

    .cell-icon {
      .test-icon {
        .status-badge {
          line-height: 40px;
          height: 40px;

          i {
            line-height: 40px;
            font-size: 1.25rem;
          }
        }
      }
    }

    .cell-score .score {
      min-width: 40px;
      padding: 0.25rem;
      margin: 1rem;
      color: #fff;
      text-align: center;

      .score-value {
        font-size: 0.9rem;
      }
    }
  }
}

.execution-test {
  .cell-attachments {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .dropdown-toggle {
    padding: 0.25rem 0.5rem;
    margin: 0;

    &::after {
      display: none;
    }
  }
}

.test-case-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;

  & > .cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .cell-href {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
  }

  .cell-icon {
    .test-icon {
      text-align: center;
      min-width: 60px;
      min-height: 42px;

      .status-badge {
        margin-right: 1rem;
        border-right: 1px solid #a9030366;
      }
    }
  }
}
