nav.navbar {
  color: #fff;
  // .dropdown-menu a {
  //   min-height: 30px;
  //   display: inline-block;
  //   padding: 0.5rem 1.0rem;
  // }
  .navbar-back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 200px;
    z-index: -1;
  }

  .container {
    min-height: 50px;
  }
}

.score {
  border: 2px solid #fff;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px #fff;
  
  &.inline {
    span.score-value {
      display: inline-block;
    }
  }
  
  span.score-value {
    background: #fff;
    color: #fff;
    padding: 1px 3px;
    display: block;
    font-weight: bold;
    

    // border: 1px solid #fff;
    // border-radius: 50%;
    
    &.answer-correct {
      background: #96e48c;
      color: #17620e;
      border-radius: .125rem .125rem 0 0;
    }

    &.answer-correct-timeout {
      background: #f3d5a3;
      color: #875a0c;
    }

    &.answer-wrong {
      background: #f59b9b;
      color: #a90303;
      border-radius: 0 0 .125rem .125rem;
    }
  }
}

main {
  a.back-btn {
    padding: 0.75rem 1.0rem;
    margin: 0;
    border-radius: 0.25rem;
  }

  .article-section {
    background: #fff;
    border-radius: 0.25rem;
  }

  .problem-results {
    .result a {
      display: flex;
      justify-content: space-between;
    }

    & > ul {
      margin: 0;
      padding: 0;
    }

    & > ul > li.result {
      margin: 0;
      padding: 0;
      list-style: none;

      a {
        padding: 0.25rem 0.5rem;
        border-radius: 0.125rem;
        margin: 2px 0;
        font-size: 0.70rem;
      }
    }
  }

  .prob-desc {
    .desc {
      font-size: 85%;

      h1 {
        font-size: 1.8em;
      }

      h2 {
        font-size: 1.6em;
      }

      h3 {
        font-size: 1.0em;
      }

      h4 {
        font-size: 0.8em;
      }

      pre code {
        white-space: pre;
        width: 100%;
        display: block;
        background: rgb(245, 245, 245);
        border: 1px solid #cfcfcf;
        color: #333;
        padding: 0.5rem;
        border-radius: 0.125rem;
      }
    }
  }

  .courses {
    .course {
      margin: 0.5rem;

      .course-img {
        margin-right: 1rem;
      }

      a {
        padding: 1rem;
        width: 100%;
        height: 100%;
        display: block;
        background: #fff;

        &:hover {
          -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  nav.navbar {
    padding: 0;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1300px;
  }
}

.o-25 {
  opacity: 0.25 !important;
}

.o-50 {
  opacity: 0.5 !important;
}

.o-75 {
  opacity: 0.75 !important;
}

.stat-results {
  .stat-result-all {
    border: 1px dashed #686868;
  }

  .stat-result {
    padding: 0.75rem;

    &:nth-child(even) {
      background: #e1f5ff;
    }

    &:nth-child(odd) {
      background: #edffee;
    }
  }
}

#editor {
  width: 100%;
  height: 300px;
}

.count-down {
  display: none;

  &.prob-admin-over {
    color: #6faa5b;
    background: #e8fce4;
    display: block;
    padding: 1rem;
    text-align: center;
  }

  &.prob-almost-over {
    color: #a87011;
    background: #ffe4a4;
    display: block;
    padding: 1rem;
    text-align: center;
  }

  &.prob-over {
    color: #a81111;
    background: #ffa4a4;
    display: block;
    padding: 1rem;
    text-align: center;
  }
}

.hljs-ln {
  .hljs-ln-numbers {
    text-align: center;
    color: #ccc;
    vertical-align: top;
    padding: 3px;
    cursor: pointer;
    display: inline-block;
    min-width: 25px;
    margin-right: 3px;

    &:hover {
      background: #00a3ff;
      color: #fff;
    }
  }

  .hljs-ln-code {
    padding-left: 10px;
    border-left: 1px solid #CCC;
  }
}

tr.review {
  white-space: nowrap;

  &.review-editor {
    textarea {
      width: 500px;
      border-radius: 0.25rem;
      border: 1px solid #d5d5d5;
    }
  }

  &.review-comment {
    td.comments {
      font-family: Arial;
      background: white;
      border-radius: 0.25rem;
      border: 1px solid #d5d5d5;
      min-width: 300px;
      max-width: 500px;
      display: block;

      .review-comment-entry {
        padding: 0.5rem;

        .head strong {
          font-family: Roboto, Arial, sans-serif;
          font-weight: bold;
          font-size: 1rem;
        }

        .text {
          white-space: normal;

          strong {
            font-weight: bold;
          }

          & > p {
            margin-bottom: 0.25rem;
          }
        }
      }
    }
  }
}
