<div class="container text-center py-2 z-depth-1">
  {# <i class="fas fa-heart red-text"></i> #}
  Available at
  <a href="https://github.com/code-critic/codecritic" target="_blank">
    <i class="fab fa-github"></i>
    github.com/code-critic/codecritic
  </a>
</div>

{% include "core/js.njk" %}
