# all outputs and errors will be ignored
/*/*/output/*
/*/*/.error/*

# ignore main binary
/*/*/main
/*/*/main.class


# all dynamically generated input will be generated (not endings with .s, .stat, .static)
/*/*/input/*
!/*/*/input/*.static
!/*/*/input/*.stat
!/*/*/input/*.s
