{% if message %}
  <h6>{{ message }}</h6>
  {% if message_details | length %}
    {% for line in message_details %}
      <p>{{ line }}</p>
    {% endfor %}
  {% endif %}
{% endif %}

{% if console | length %}
  <p class="result-text">
    <h6>Console:</h6>
    <ul class="std-list">
      {% for line in console %}
        <li>{{ line }}</li>
      {% endfor %}
    </ul>
  </p>
{% endif %}

{% if stderr | length %}
  <p class="result-text">
    <h6>Stderr:</h6>
    <ol class="std-list">
      {% for line in stderr %}
        <li>{{ line }}</li>
      {% endfor %}
    </ol>
  </p>
{% endif %}

{% if stdout | length %}
  <p class="result-text">
    <h6>Stdout:</h6>
    <ol class="std-list">
      {% for line in stdout %}
        <li>{{ line }}</li>
      {% endfor %}
    </ol>
  </p>
{% endif %}
