<div class="queue-status">
  <h3>Initializing...</h3>
  <ul>
    {% for item in items %}
      <li id='queue-{{ item.id }}'>
        Solution from
        <code>{{ item.user }}</code>
        solving problem
        <code>{{ item.prob.name }}</code>
      </li>
    {% endfor %}
  </ul>
</div>
