<div class="execution status-section">
  <div class="evaluation" style="display: none;">
    <div class="evaluation-result">
    </div>
    <hr />
  </div>
  <div class="compilation">
  </div>
  {% for id, item in results %}
    {# create template for test #}
    <div class="execution-test" id="e-{{ item.uuid }}">
    </div>
  {% endfor %}
</div>
