<tr class="review review-editor" data-line-number="{{ line }}">
  <td class="fill"></td>
  <td>
    <div>
      <textarea data-line-number="{{ line }}" class="review-editor-comment p-2" rows="3" placeholder="Write your comment here"></textarea>
    </div>
  </td>
</tr>
